a {
    color: rgb(8, 68, 2);
    width: 500px;
    /* border: 1px dashed rgb(8, 0, 0); */
    text-align: center;
  }

  html {
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Cambria", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    color: rgb(94, 4, 4);
    font-size: 16px;
    line-height: 1;
    /* letter-spacing: 1px; */
  }
  html {
    background-color: #fcd7dc;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #cc4d7d;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }